<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Manale Design</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
     <script src="/js/slide.js"></script>
</head>

<body>
    <header id="intro">
        <article class="fullheight">
            <div class="hgroup">
                <a href="#home"><img src="/images/main.jpg" alt="down arrow"></a>
            </div>
        </article>
        <nav id="nav">
            <div class="navbar">
                <div class="brand"> <img src="/images/bg-logo.png" alt=""><a href="#home"><span>  COLLECTIONS</span></a></div>
                <div class="menu">
                    <ul>
                        <li><a href="#about"><span>ABOUT</span></a></li>
                        <li><a href="#gallery"><span>GALLERY</span></a></li>
                        <li><a href="#jewelery"><span>JEWELERY</span></a></li>
                        <li><a href="#contact"><span>CONTACT US</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- navbar -->
        </nav>
    </header>
    <!-- gallery should show slids -->
    <main id="wrapper">
        <div class="scene" id="pics">
            <article class="content">
                <div class="gallery1">
                    <img src="/images/g-scharf.jpg" width="200" alt="Intro Gallery Pictures">
                    <img src="/images/g-cameal.jpg" width="200" alt="Intro Gallery Pictures">
                    <img src="/images/g-volcanic .jpg" width="200" alt="Intro Gallery Sample Pictures">
                    <img src="/images/AWASH b.jpg" width="200" alt="Intro Gallery Sample Pictures">
                </div>
                <!-- info with the picks -->
                <h1>MANALE DESIGN</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quasi quidem ducimus praesentium aut officia, vero, unde sit, quia laborum obcaecati rem numquam? Aperiam, dicta beatae eius, vero magnam reiciendis.</p>
            </article>
        </div>
        <!-- about starts-->
        <div class="scene" id="about">
            <article class="heading">
                <h1>ABOUT</h1>
        <!--     </article> -->
           
                <section class="mission">
                    <h2>Mission</h2><span> 
          <p><strong>More Information</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quam iure quo culpa perspiciatis, nulla, autem ea rerum, delectus neque consectetur amet recusandae veniam aliquam nesciunt, doloremque accusamus nisi quisquam!.</p></span>
                </section>
                <section class="greenProgram">
                    <h2>Green Program</h2>
                    <p><strong>Info</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed possimus, voluptas fugiat id, quo modi praesentium pariatur voluptatem, accusantium unde obcaecati officiis facilis voluptatum aut nihil corrupti sit perspiciatis impedit?.</p>
                </section>
            </article>
        </div>
        <!-- </div> -->
        <!-- bottom extra info -->
        <header class="container">
            <div class="scene" id="gallery">
                <h1>GALLERY</h1>
                <div class="slides">
                    <div class="slide"><img src="/images/g-neck1.jpg" width="900" height="544" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/g-scharf.jpg"  width="900" height="544"alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/g-volcanic .jpg" width="900" height="544" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/model1.jpg" width="900" height="544" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/model3.jpg" width="900" height="544" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/model2.jpg" width="900" height="544" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/model4.jpg" width="900" height="544" alt="">
                    </div>
                </div>
                <div class="stmt">
                    <p>Avaliable in stores adipisicing elit. Dignissimos veritatis consequatur pariatur animi et maiores, eius ratione obcaecati doloremque nulla rem cumque, eligendi accusantium optio, iure labore officia! Beatae, qui.</p>
                </div>
            </div>
            </div>
        
        <!-- jewlery display -->
        <div class="scene" id="jewelery">
            <article id="handmade">
                <h1>JEWELERY</h1>
                <p>Hand made dolor sit amet, consectetur adipisicing elit. Reiciendis eos, minima esse tenetur consequatur quasi necessitatibus ut provident nisi delectus error harum, libero atque voluptatum explicabo! Placeat reprehenderit consequatur similique.! </p>
            </article>
            <article id="kinds">
                <section class="neckless1">
                    <h2>Neckless</h2>
                    <img src="/images/n-1.jpg" width="300" alt="">  
                    <p><strong>The Brilliance of Color</strong><br>Silver Collection for this season's joyful spirit</p>

                </section>
                <article id="kinds">
                <section class="neckless2">
                    <h2>Neckless</h2>
                    <img src="/images/neck2.jpg" width="300" alt=""> 
                     <span><p><strong>The Brilliance of Color</strong><br>Silver Collection for this season's joyful spirit</p></span>
                </section>
                <article id="kinds">
                <section class="kinds1">
                    <h2>Earrings</h2>
                    <img src="/images/r.jpg" width="300" alt="">  
                </section>
                <article id="kinds">
                <section class="kinds2">
                    <h2>Earrings</h2>
                    <img src="/images/e2.jpg" width="300" alt="">
                </section>
                <article id="kinds">
                <section class="kinds3">
                    <!-- <h2>Rings</h2> -->
                    <img src="/images/g-r.jpg" width="300" alt="">
                    <p><strong>The Brilliance of Color</strong><br>Silver Collection for this season's joyful spirit</p>
                </section>
            </article>
            
        </div>
        <!--- jewl ends--> 
        

        <!-- footer -->
       
        <footer class="footer" role="contentinfo">
            <div class="container">
                <dt class="footer-meta-title">Our Company</dt>
                  <dd class="footer-meta-item"></dd>
                    <a href="#">Contact Us</a>
                  <dd class="footer-meta-item"></dd>
                    <a href="#">tel: 555-555-5555</a>
                  <dd class="footer-meta-item"></dd>
                   <a href="#">Eamil Us</a>      
            </div>

        </footer> 
                

        
 </body>
</html>
