<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Manale Design</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
</head>

<body>
    <header id="intro">
        <article class="fullheight">
            <div class="hgroup">
                <a href="#home"><img src="/images/main.jpg" alt="down arrow"></a>
            </div>
        </article>
        <nav id="nav">
            <div class="navbar">
                <div class="brand"> <img src="/images/bg-logo.png" alt=""><a href="#home"><span>  COLLECTIONS</span></a></div>
                <div class="menu">
                    <ul>
                        <li><a href="#about"><span>ABOUT</span></a></li>
                        <li><a href="#gallery"><span>GALLERY</span></a></li>
                        <li><a href="#jewelery"><span>JEWELERY</span></a></li>
                        <li><a href="#contact"><span>CONTACT US</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- navbar -->
        </nav>
    </header>
    <!-- gallery should show slids -->
    <main id="wrapper">
        <div class="scene" id="pics">
            <article class="content">
                <div class="gallery1">
                    <img src="/images/g-scharf.jpg" width="200" alt="Intro Gallery Pictures">
                    <img src="/images/g-cameal.jpg" width="200" alt="Intro Gallery Pictures">
                    <img src="/images/g-volcanic .jpg" width="200" alt="Intro Gallery Sample Pictures">
                    <img src="/images/AWASH b.jpg" width="200" alt="Intro Gallery Sample Pictures">
                </div>
                <!-- info with the picks -->
                <h1>MANALE DESIGN</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quasi quidem ducimus praesentium aut officia, vero, unde sit, quia laborum obcaecati rem numquam? Aperiam, dicta beatae eius, vero magnam reiciendis.</p>
            </article>
        </div>
        <!-- about starts-->
        <div class="scene" id="about">
            <article class="heading">
                <h2>ABOUT</h2>
            </article>
            <article id="aboutInfo">
                <section id="mission">
                    <h2>Mission</h2><span> 
          <p><strong>More Information</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quam iure quo culpa perspiciatis, nulla, autem ea rerum, delectus neque consectetur amet recusandae veniam aliquam nesciunt, doloremque accusamus nisi quisquam!.</p></span>
                </section>
                <section id="greenProgram">
                    <h2>Green Program</h2>
                    <p><strong>Info</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed possimus, voluptas fugiat id, quo modi praesentium pariatur voluptatem, accusantium unde obcaecati officiis facilis voluptatum aut nihil corrupti sit perspiciatis impedit?.</p>
                </section>
            </article>
        </div>
        <!-- </div> -->
        <!-- bottom extra info -->
        <header class="container">
            <div class="scene" id="gallery">
                <h1>GALLERY</h1>
                <div class="slides">
                    <div class="slide"><img src="/images/g-neck1.jpg" width="900" height="544" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/g-scharf.jpg"  width="900" height="544"alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/g-volcanic .jpg" width="900" height="544" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/model1.jpg" width="900" height="544" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/model3.jpg" width="900" height="544" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/model2.jpg" width="900" height="544" alt="">
                    </div>
                    <div class="slide">
                        <img src="/images/model4.jpg" width="900" height="544" alt="">
                    </div>
                </div>
                <div class="stmt">
                    <p>Avaliable in stores adipisicing elit. Dignissimos veritatis consequatur pariatur animi et maiores, eius ratione obcaecati doloremque nulla rem cumque, eligendi accusantium optio, iure labore officia! Beatae, qui.</p>
                </div>
            </div>
            </div>
        
        <!-- jewlery display -->
        <div class="scene" id="jewelery">
            <article id="handmade">
                <h1>JEWELERY</h1>
                <p>Hand made dolor sit amet, consectetur adipisicing elit. Reiciendis eos, minima esse tenetur consequatur quasi necessitatibus ut provident nisi delectus error harum, libero atque voluptatum explicabo! Placeat reprehenderit consequatur similique.! </p>
            </article>
            <article id="kinds">
                <section class="neckless1">
                    <h2>Neckless</h2>
                    <img src="/images/n-1.jpg" width="300" alt="">  
                    <p><strong>The Brilliance of Color</strong><br>Silver Collection for this season's joyful spirit</p>

                </section>
                <article id="kinds">
                <section class="neckless2">
                    <h2>Neckless</h2>
                    <img src="/images/neck2.jpg" width="700" alt=""> 
                     <p><strong>The Brilliance of Color</strong><br>Silver Collection for this season's joyful spirit</p>

                </section>
                <article id="kinds">
                <section class="kinds1">
                    <h2>Earrings</h2>
                    <img src="/images/r.jpg" width="300" alt="">  
                </section>
                <article id="kinds">
                <section class="kinds2">
                    <h2>Earrings</h2>
                    <img src="/images/e2.jpg" width="300" alt="">
                </section>
                <article id="kinds">
                <section class="kinds3">
                    <h2>Rings</h2>
                    <img src="/images/g-r.jpg" width="300" alt="">
                </section>
            </article>
            <!-- display of jewle under jewe tab -->
            <article id="avaliable">
                <h1>Get in Touch</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsa quas, aliquam enim molestiae id voluptates vel iure eum similique eaque suscipit laudantium dolores earum debitis fugiat labore, beatae unde..</p>
            </article>
        </div>
        <!-- jewl ends-->
        <div class="scene" id="contact">
            <form class="form-horizontal">
      <fieldset>
       <legend>CONTACT US</legend>
         <div class="form-group">
           <label for="inputEmail" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
        <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label for="text" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="smith@gmail.com" placeholder="Email">
         <div class="checkbox">  
       </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Message</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
       
      </div>
    </div>
   
       
      <div class="col-lg-10 col-lg-offset-2">
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
        <footer class="scene-end">
            <article class="content">
                <div id="socialmedia">
                    <ul class="group">
                        <li>
                            <a href="#"><img class="icon" src="/images/Twitter.png" width="85" alt="icon for twitter" /></a>
                        </li>
                        <li>
                            <a href="#"><img class="icon" src="/images/facebook-128.png" width="70" alt="icon for facebook" /></a>
                        </li>
                    </ul>
                </div>
            </article> -->
        </footer>
        <script src="/js/slide.js"></script>
</body>

</html>
